# Dallas Accident Data Analysis
data source: us accident from Kaggle
A Countrywide Traffic Accident Dataset (2016 - 2019)
link: https://www.kaggle.com/sobhanmoosavi/us-accidents

# Business Case

This datasheet contains information that can be useful in identifying previous year vehicle accident trends within Dallas to identify where safety enhancements are needed.

The data was originally collected, according to Sobhan Moosavi from https://www.kaggle.com/sobhanmoosavi/us-accidents, was for “real-time accident prediction, studying accident hotspot locations, casualty analysis and extracting cause and effect rules to predict accidents, or studying the impact of precipitation or other environmental stimuli on accident occurrence.”

The datasheet description best explains how the database was collected (https://www.kaggle.com/sobhanmoosavi/us-accidents): "This is a countrywide traffic accident dataset, which covers 49 states of the United States. The data is collected from February 2016 to December 2019, using several data providers, including two APIs that provide streaming traffic incident data. These APIs broadcast traffic data captured by a variety of entities, such as the US and state departments of transportation, law enforcement agencies, traffic cameras, and traffic sensors within the road-networks."

As noted on https://www.nbcdfw.com/news/local/dallas-ranks-among-top-in-us-for-fatal-crashes-report/273443/, out of the largest 25 U.S. cities, Dallas is at the top of the list for traffic accidents. According to https://www.dallasnews.com/business/autos/2019/06/26/study-drivers-are-46-more-likely-to-get-into-accidents-on-dallas-roads-than-the-rest-of-the-u-s/, based on a study done by Allstate Dallas drivers are “46% more likely to get into a wreck than the average U.S. driver.

The goal for analyzing this data set is to find auto accident trends and hot locations that can assist the city with not only identifying where most accidents occur, but to also help make decisions on what locations should have a higher priority on safety enhancements.

If our predictions are correct, we would expect that after a location has been identified as a hot spot for auto accidents and has been “safety enhanced” by the city, there should be at least a 75% chance of a drop in auto accidents around that area. The reason we cannot guarantee a 100% chance of auto accident reductions is because some people are just simply bad drivers. 

**More would be added as we dig into the data later

In [5]:
import pandas as pd
import numpy as np

print('Pandas:', pd.__version__)
print('Numpy:',np.__version__)

# commented this out for me...couldn't get it to go back a directory for some reason
# df = pd.read_csv('../data/US_Accidents_Dec19.csv') # read in the csv file
df = pd.read_csv('US_Accidents_Dec19.csv') # read in the csv file

state_filter = df.State.str.contains('TX')
df = df[state_filter]
city_filter = df.City.str.contains('Dallas')
df = df[city_filter]

df

Pandas: 0.25.1
Numpy: 1.16.5

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
261012,A-261014,MapQuest,201.0,2,2016-11-30 16:10:04,2016-11-30 17:25:00,32.662193,-96.943153,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
261013,A-261015,MapQuest,201.0,3,2016-11-30 16:05:32,2016-11-30 17:24:00,32.778790,-96.782021,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
261014,A-261016,MapQuest,201.0,2,2016-11-30 16:10:46,2016-11-30 17:27:00,32.724277,-96.762245,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
261015,A-261017,MapQuest,201.0,2,2016-11-30 15:45:59,2016-11-30 17:18:00,32.708355,-96.700043,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
261016,A-261018,MapQuest,201.0,3,2016-11-30 16:06:04,2016-11-30 17:20:42,32.864021,-96.661140,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2973607,A-2973631,Bing,NaN,3,2019-08-22 17:54:40,2019-08-22 18:23:27,32.678270,-96.822740,32.67153,-96.82262,...,False,False,False,False,False,False,Day,Day,Day,Day
2973611,A-2973635,Bing,NaN,3,2019-08-22 19:18:27,2019-08-22 19:47:43,33.119510,-97.032410,33.12436,-97.03547,...,False,False,False,False,False,False,Day,Day,Day,Day
2973612,A-2973636,Bing,NaN,3,2019-08-22 23:50:30,2019-08-23 00:19:59,32.926010,-96.820616,32.92601,-96.82072,...,False,False,False,False,False,False,Night,Night,Night,Night
2974057,A-2974081,Bing,NaN,3,2019-08-23 14:12:33,2019-08-23 14:41:14,32.904220,-96.769110,32.89449,-96.76926,...,False,False,False,False,False,False,Day,Day,Day,Day
2974058,A-2974082,Bing,NaN,2,2019-08-23 09:50:30,2019-08-23 10:18:06,32.791350,-96.813630,32.79399,-96.81444,...,False,False,False,False,False,False,Day,Day,Day,Day

In [6]:
df.describe() # does not work on all data types

,TMC,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Number,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,47962.000000,58086.000000,58086.000000,58086.000000,10124.000000,10124.000000,58086.000000,15916.000000,57927.000000,16738.000000,57919.000000,57989.000000,57906.000000,54629.000000,16395.000000
mean,209.710771,2.382312,32.811202,-96.796752,32.820906,-96.798470,0.095629,4747.669703,69.001927,58.560867,63.597783,29.902372,9.431069,9.679602,0.019840
std,17.980151,0.502880,0.086146,0.072640,0.090912,0.074821,0.279749,3921.854420,17.112714,23.191381,20.893385,0.319820,2.227893,5.171056,0.087521
min,201.000000,1.000000,32.620309,-97.072350,32.620225,-97.086610,0.000000,1.000000,12.900000,2.000000,4.000000,28.750000,0.100000,0.000000,0.000000
25%,201.000000,2.000000,32.752560,-96.840315,32.766440,-96.840870,0.000000,1939.000000,57.000000,38.000000,47.000000,29.770000,10.000000,6.000000,0.000000
50%,201.000000,2.000000,32.798169,-96.799248,32.811770,-96.792860,0.000000,3498.000000,71.600000,62.500000,65.000000,29.960000,10.000000,9.200000,0.000000
75%,201.000000,3.000000,32.885430,-96.752739,32.905850,-96.753050,0.010000,6999.000000,82.000000,78.000000,81.000000,30.100000,10.000000,12.700000,0.000000
max,406.000000,4.000000,33.129891,-96.557159,33.153665,-96.564205,6.920000,39725.000000,109.900000,103.000000,100.000000,30.860000,111.000000,255.000000,2.280000

In [7]:
print(df.dtypes)
print('======================================')
print(df.info())

ID                        object
Source                    object
TMC                      float64
Severity                   int64
Start_Time                object
End_Time                  object
Start_Lat                float64
Start_Lng                float64
End_Lat                  float64
End_Lng                  float64
Distance(mi)             float64
Description               object
Number                   float64
Street                    object
Side                      object
City                      object
County                    object
State                     object
Zipcode                   object
Country                   object
Timezone                  object
Airport_Code              object
Weather_Timestamp         object
Temperature(F)           float64
Wind_Chill(F)            float64
Humidity(%)              float64
Pressure(in)             float64
Visibility(mi)           float64
Wind_Direction            object
Wind_Speed(mph)          float64
Precipitation(in)        float64
Weather_Condition         object
Amenity                     bool
Bump                        bool
Crossing                    bool
Give_Way                    bool
Junction                    bool
No_Exit                     bool
Railway                     bool
Roundabout                  bool
Station                     bool
Stop                        bool
Traffic_Calming             bool
Traffic_Signal              bool
Turning_Loop                bool
Sunrise_Sunset            object
Civil_Twilight            object
Nautical_Twilight         object
Astronomical_Twilight     object
dtype: object
======================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 58086 entries, 261012 to 2974058
Data columns (total 49 columns):
ID                       58086 non-null object
Source                   58086 non-null object
TMC                      47962 non-null float64
Severity                 58086 non-null int64
Start_Time               58086 non-null object
End_Time                 58086 non-null object
Start_Lat                58086 non-null float64
Start_Lng                58086 non-null float64
End_Lat                  10124 non-null float64
End_Lng                  10124 non-null float64
Distance(mi)             58086 non-null float64
Description              58086 non-null object
Number                   15916 non-null float64
Street                   58086 non-null object
Side                     58086 non-null object
City                     58086 non-null object
County                   58086 non-null object
State                    58086 non-null object
Zipcode                  58086 non-null object
Country                  58086 non-null object
Timezone                 58086 non-null object
Airport_Code             58086 non-null object
Weather_Timestamp        58033 non-null object
Temperature(F)           57927 non-null float64
Wind_Chill(F)            16738 non-null float64
Humidity(%)              57919 non-null float64
Pressure(in)             57989 non-null float64
Visibility(mi)           57906 non-null float64
Wind_Direction           58001 non-null object
Wind_Speed(mph)          54629 non-null float64
Precipitation(in)        16395 non-null float64
Weather_Condition        57815 non-null object
Amenity                  58086 non-null bool
Bump                     58086 non-null bool
Crossing                 58086 non-null bool
Give_Way                 58086 non-null bool
Junction                 58086 non-null bool
No_Exit                  58086 non-null bool
Railway                  58086 non-null bool
Roundabout               58086 non-null bool
Station                  58086 non-null bool
Stop                     58086 non-null bool
Traffic_Calming          58086 non-null bool
Traffic_Signal           58086 non-null bool
Turning_Loop             58086 non-null bool
Sunrise_Sunset           58086 non-null object
Civil_Twilight           58086 non-null object
Nautical_Twilight        58086 non-null object
Astronomical_Twilight    58086 non-null object
dtypes: bool(13), float64(14), int64(1), object(21)
memory usage: 17.1+ MB
None